body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#title_id h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#weather-data {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
}

#weather-data div {
    width: 45%;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

/* Media Query cho các màn hình nhỏ hơn 768px (thường là điện thoại) */
@media (max-width: 768px) {
     /* Điều chỉnh kích thước canvas để biểu đồ to hơn */
     canvas {
        width: 100% !important;
        height: auto !important;
    }

    #weather-data {
        flex-direction: column;
    }

    /* Điều chỉnh kích thước của phần chứa các biểu đồ */
    #weather-data div {
        width: 100% !important; /* Cho phép biểu đồ chiếm toàn bộ chiều rộng của khung chứa */
        max-width: 400px !important; /* Đặt chiều rộng tối đa lớn hơn để biểu đồ to hơn */
        height: auto !important; /* Giữ chiều cao tự động */
        margin-bottom: 20px;
    }

    /* Nếu muốn thiết lập kích thước cụ thể cho biểu đồ tròn */
    #myPieChart {
        width: 100% !important; /* Biểu đồ tròn chiếm toàn bộ vùng chứa */
        max-width: 400px !important; /* Đặt chiều rộng tối đa cho biểu đồ */
        height: auto !important; /* Giữ tỷ lệ khung hình */
    }
}

#myPieChart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px !important;
    /* Chiều rộng cụ thể cho biểu đồ tròn */
    height: 300px !important;
    /* Chiều cao cụ thể cho biểu đồ tròn */
    margin: 0 auto;
    /* Căn giữa biểu đồ */
}